.wrapper {
  display: inline-block;
}

.wrapper button {
  /* Variables */
  --button-radius: 0.75em;
  --button-color: #e8e8e8;
  --button-outline-color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button-radius);
  background: var(--button-outline-color);
  padding: 0;
}

.wrapper button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.buttonTop {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button-outline-color);
  border-radius: var(--button-radius);
  padding: 0.75em 1.5em;
  background: var(--button-color);
  color: var(--button-outline-color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.wrapper button:hover:not(:disabled) .buttonTop {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.wrapper button:active:not(:disabled) .buttonTop {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.wrapper button:disabled .buttonTop {
  transform: translateY(-0.2em);
}

